{% load static %}

<html lang="en">
{% include 'head.html' %}
<title>
{% block title %}
메인
{% endblock title %}
</title>
  <body>
    <!-- ====== Header Start ====== -->
    <header class="ud-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="{% url 'main:home' %}">
                <img src="{% static 'assets/images/logo/logo.svg' %}" alt="Logo" />
              </a>
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="ud-submenu-link" href="{% url 'main:home' %}">Home</a>
                  </li>
                  <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> 커리어 탐색 </a>
                    <ul class="ud-submenu">
                      <li class="ud-submenu-item">
                        <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamYouthList.do" class="ud-submenu-link">
                          워크넷 간단 검사(청소년)
                        </a>
                      </li>
                      <li class="ud-submenu-item">
                        <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamAdultList.do" class="ud-submenu-link">
                          워크넷 간단 검사(성인)
                        </a>
                      </li>
                      <li class="ud-submenu-item">
                        <a href="https://www.work.go.kr/consltJobCarpa/srch/jobRecommend/jobRecommend.do" class="ud-submenu-link">
                          워크넷 간단 검사(직무기반 직업추천)
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="ud-submenu-link" href="{% url 'search:search' %}">직업 및 마이크로디그리 탐색</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-submenu-link" href="{% url 'search:search' %}">강좌 검색</a>
                  </li>
                </ul>
              </div>

              <div class="navbar-btn d-none d-sm-inline-block">
                <a href="{% url 'accounts:signin' %}" class="ud-main-btn ud-login-btn">
                  Sign In
                </a>
                <a class="ud-main-btn ud-white-btn" href="{% url 'accounts:signup' %}">
                  Sign Up
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ====== Header End ====== -->

    <!-- ====== 시작 -->
    {% block content %}

    {% endblock %}
    <!-- ====== 끝 -->

    {% include 'footer.html' %}

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
      // ==== for menu scroll
      const pageLink = document.querySelectorAll(".ud-menu-scroll");

      pageLink.forEach((elem) => {
        elem.addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(elem.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
            offsetTop: 1 - 60,
          });
        });
      });

      // section menu active
      function onScroll(event) {
        const sections = document.querySelectorAll(".ud-menu-scroll");
        const scrollPos =
          window.pageYOffset ||
          document.documentElement.scrollTop ||
          document.body.scrollTop;

        for (let i = 0; i < sections.length; i++) {
          const currLink = sections[i];
          const val = currLink.getAttribute("href");
          const refElement = document.querySelector(val);
          const scrollTopMinus = scrollPos + 73;
          if (
            refElement.offsetTop <= scrollTopMinus &&
            refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
          ) {
            document
              .querySelector(".ud-menu-scroll")
              .classList.remove("active");
            currLink.classList.add("active");
          } else {
            currLink.classList.remove("active");
          }
        }
      }

      window.document.addEventListener("scroll", onScroll);
    </script>
  </body>
</html>
